      <tr id="pnp-week-id-<%= week.id %>">
        <td><%= link_to week.str_FirstDay, week, :class => 'btn btn-default' %></td>
        <td class="pnp-week-oAVG"><%= week.oAVG.round(1) %></td>
        <td class="pnp-week-dAVG"><%= week.dAVG.round(1) %></td>
        <td><%= link_to 'Get Stats', stats_week_path(week), :remote => true, :class => 'btn btn-small btn-primary pnp-week-btn-stats' %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>