      <tr>
        <td><%= week.firstDay %></td>
        <td><%= week.oAVG %></td>
        <td><%= week.dAVG %></td>
        <td><%= week.comment %></td>
        <td><%= link_to 'Show', week, :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_week_path(week) %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>