<p id="notice"><%= notice %></p>

<p>
  <strong>Firstday:</strong>
  <%= @week.firstDay %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @week.comment %>
</p>

<p>
  <strong>Month:</strong>
  <%= @week.month %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
