<% title "Week (#{@week.str_FirstDay})" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First day:</strong>
  <%= @week.str_FirstDay %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Stats</th>
      <th>O</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AVG</td>
      <td><%= @week.oAVG.round(1) %></td>
      <td><%= @week.dAVG.round(1) %></td>
    </tr>
    <tr>
      <td>MAX</td>
      <td><%= @week.oMAX %></td>
      <td><%= @week.dMAX %></td>
    </tr>
    <tr>
      <td>MIN</td>
      <td><%= @week.oMIN %></td>
      <td><%= @week.dMIN %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Comment:</strong>
  <%= @week.comment %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Days</th>
      <th>O</th>
      <th>D</th>
      <th>Total</th>
      <th>Well Registered</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @week.days.order(:date).each do |day| %>
      <tr id="<%= day.id %>">
        <td class="<%= day.str_isTodayClass %>"><%= day.str_date %></td>
        <td class="oTotal"><%= day.oTotal %></td>
        <td class="dTotal"><%= day.dTotal %></td>
        <td><%= link_to 'Total', total_day_path(day), :remote => true, :class => 'btn btn-small btn-primary' %></td>
        <td><%= link_to day.str_wellRegistered, toggle_well_registered_day_path(day), :remote => true, :class=>"pnp-btn-day-well-registered btn btn-small " + day.str_wellRegistered_TwbsBtnStyleClass %></td>
        <td><%= link_to 'Show', day, :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pnp-controls">
  <%= link_to 'Edit', edit_week_path(@week) %> |
  <%= link_to 'Back', weeks_path, :class => 'btn btn-primary' %>
</div>