<% title "Week (#{@week.str_FirstDay})" %>
<% body_classes "pnp-week pnp-show" %>
<h1><%= yield :title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @week.comment %>
  <%= link_to 'Edit', edit_week_path(@week) %>
</p>

<div class="pnp-controls">
  <%= link_to 'Back', weeks_path, :class => 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Stats</th>
      <th>O</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AVG</td>
      <td><%= @week.oAVG.round(1) %></td>
      <td><%= @week.dAVG.round(1) %></td>
    </tr>
    <tr>
      <td>MAX</td>
      <td><%= @week.oMAX %></td>
      <td><%= @week.dMAX %></td>
    </tr>
    <tr>
      <td>MIN</td>
      <td><%= @week.oMIN %></td>
      <td><%= @week.dMIN %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Days</th>
      <th>O</th>
      <th>D</th>
      <th>Well Registered</th>
    </tr>
  </thead>
  <tbody>
    <% @week.days.order(:date).each do |day| %>
      <%= render day %>
    <% end %>
  </tbody>
</table>

<div class="pnp-controls">
  <%= link_to 'Back', weeks_path, :class => 'btn btn-primary' %>
</div>