<p id="notice"><%= notice %></p>

<p>
  <strong>Firstday:</strong>
  <%= @month.firstDay %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @month.comment %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
