<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= link_to @od.day.date, day_path(@od.day) %>
</p>

<p>
  <strong>Timekey:</strong>
  <%= @od.timekey %>
</p>

<p>
  <strong>O:</strong>
  <%= @od.o %>
</p>

<p>
  <strong>D:</strong>
  <%= @od.d %>
</p>

<%= link_to 'Edit', edit_od_path(@od) %> |
<%= link_to 'Back', ods_path %>
