<h1>Listing ods</h1>

<table class="table">
  <thead>
    <tr>
      <th>Instant</th>
      <th>O</th>
      <th>D</th>
      <th>Timekey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ods.each do |od| %>
      <tr>
        <td><%= od.instant %></td>
        <td><%= link_to enable_link_text(od.o), toggle_o_od_path(od), :remote => true, :class=>"btn-enable btn btn-small " + enable_btn_class(od.o) %></td>
        <td><%= link_to enable_link_text(od.d), toggle_d_od_path(od), :remote => true, :class=>"btn-enable btn btn-small " + enable_btn_class(od.d) %></td>
        <td><%= od.timekey %></td>
        <td><%= link_to 'Show', od %></td>
        <td><%= link_to 'Edit', edit_od_path(od) %></td>
        <td><%= link_to 'Destroy', od, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>