<div class="container col-xs-12 col-sm-5 col-md-5">

  <h1>Listing days</h1>

  <div class="date">Today is <%= @strToday %></div>

  <div class="navigator">
    <div><%= link_to "<", days_path(:month => @strPrevMonthParam), :class=>'btn btn-small btn-primary' %></div>
    <div class="current-month"><%= h @strCurrentMonth %></div>
    <div><%= link_to ">", days_path(:month => @strNextMonthParam), :class=>'btn btn-small btn-primary' %></div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Days</th>
        <th>O</th>
        <th>D</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @days.each do |day| %>
        <tr id="<%= day.id %>">
          <td><%= strDayDate(day) %></td>
          <td class="oTotal"><%= day.oTotal %></td>
          <td class="dTotal"><%= day.dTotal %></td>
          <td><%= link_to 'Total', total_day_path(day), :remote => true, :class => 'btn btn-small btn-primary' %></td>
          <td><%= link_to 'Show', day %></td>
          <td><%= link_to 'Edit', edit_day_path(day) %></td>
          <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Day', new_day_path, :class=>"btn btn-small btn-primary" %>

</div>