<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.str_date %>
</p>

<h1>Listing ods</h1>

<div class="container col-xs-12 col-sm-4 col-md-3">

  <table class="table">
    <thead>
      <tr>
        <th>Timekey</th>
        <th>O</th>
        <th>D</th>
      </tr>
    </thead>
			<% @day.ods.each do |od| %>
        <tr>
          <td class="timekey"><%= od.timekey %></td>
          <td><%= link_to od.str_o_enabled, toggle_o_od_path(od), :remote => true, :class=>"btn-day-od-enable btn btn-small " + od.str_o_TwbsBtnStyleClass %></td>
          <td><%= link_to od.str_o_enabled, toggle_d_od_path(od), :remote => true, :class=>"btn-day-od-enable btn btn-small " + od.str_d_TwbsBtnStyleClass %></td>
        </tr>
			<% end %> 
  </table>

</div>

<div class="clearer"></div>

<div class="footer">
	<%= link_to 'Edit', edit_day_path(@day), :class=>"btn btn-small btn-primary" %>
	<%= link_to 'Back', days_path(:month => @day.date), :class=>"btn btn-small btn-primary" %>
</div>