<% title "Day (#{@day.str_date})" %>
<% body_classes "pnp-day pnp-show" %>
<div id="pnp-top-section">

  <h1><%= yield :title %></h1>
  <div class="pnp-totals">
    oTotal: <span id="oTotal"><%= @day.oTotal %></span>, dTotal: <span id="dTotal"><%= @day.dTotal %></span>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="pnp-controls">
    <%= link_to 'Back', week_path(@day.week_id), :class=>"btn btn-small btn-primary" %>
  </div>

</div>

<div class="pnp-table-container">

  <table class="table">
    <thead>
      <tr>
        <th>Timekey</th>
        <th>O</th>
        <th>D</th>
      </tr>
    </thead>
			<% @day.ods.each do |od| %>
        <tr>
          <td class="timekey"><%= od.timekey %></td>
          <td><%= link_to od.str_o_enabled, ods_toggle_o_path(od.id), :method => :patch, :remote => true, :class=>"pnp-day-o-toggle-btn btn btn-small " + od.str_o_TwbsBtnStyleClass %></td>
          <td><%= link_to od.str_d_enabled, ods_toggle_d_path(od.id), :method => :patch, :remote => true, :class=>"pnp-day-d-toggle-btn btn btn-small " + od.str_d_TwbsBtnStyleClass %></td>
        </tr>
			<% end %> 
  </table>

</div>

<div class="pnp-clearer"></div>

<div class="pnp-controls">
	<%= link_to 'Back', week_path(@day.week_id), :class=>"btn btn-small btn-primary" %>
</div>
