<!DOCTYPE html>
<html>
<head>
<title><%= content_for?(:title) ? yield(:title) + " | P n' P" : "P n' P" %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= content_for?(:body_classes) ? "pnp-app " + yield(:body_classes) : "pnp-app" %>">
<div class="pnp-container col-xs-12 col-sm-5 col-md-5">

<div class="pnp-content">
<%= yield %>
</div>

<div class="pnp-clearer"></div>

<div class="pnp-footer">
  <div class="pnp-credits">P n' P app</div>
  <div class="pnp-tagline">polite to register P n' P</div>
</div>

</div>
</body>
</html>
